	
	body
	{
		font-family:										Georgia, "Times New Roman", Times, serif;
		line-height:										150%;
	}
	
	h1
	{
		text-transform:										uppercase;
		font-size:											16pt;
	}
	
	h2, h3
	{
		margin:												30px 0 5px 0;
		padding:											0;
	}
	
	h2
	{
		font-size:											14pt;
		background-color:									#CCCCCC;
		padding:											5px 0;
	}
	
	h3
	{
		font-size:											10pt;
		border-bottom:										#999999 solid 1px;
	}
	
	.Unknown
	{
		color:												#CC0000;
		border-bottom:										#CC0000 dashed 1px;
	}
	
	.php-ClassName
	{
		color:												#006599;
		border-bottom:										#006599 dashed 1px;
	}
	
	code.php
	{
		display:											block;
		
		padding:											10px;
		
		background-color:									#EFEFEF;
		border:												dotted 1px #000000;
	}
	
	#Description-Container
	{
	}
	
	#Description-Content
	{
		padding:											50px 60px;
		line-height:										150%;
	}
	
	#Weather-Container
	{
		background-image:									url('post-it.png');
		
		width:												463px;
		height:												455px;
		
		margin:												0 20px 0 0;
		
		float:												left;
	}
	
	#Weather-Content
	{
		padding:											50px;
	}
	
	#Weather-CurrentConditionsIcon
	{
		float:												left;
		margin:												0 10px 10px 0;
	}
	
	h1
	{
		margin:												0;
		padding:											0;
	}
	
	h1 a
	{
		color:												#000000;
	}
	
	#Weather-Content table
	{
		margin-top:											20px;
	}
	
	#Weather-Content table th
	{
		width:												200px;
		text-align:											left;
	}
	
	.Clear
	{
		clear:												both;
	}
	
	#Manual
	{
		padding:											0 50px;
	}
	
	#Licence
	{
		margin:												20px 0 0 0;
		background-color:									#FFDDDD;
		padding:											20px;
	}
	
	#Licence h2
	{
		margin-top:											0;
		padding-top:										0;
	}