/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	font-family: Arial, Verdana, sans-serif;
	background: url(images/structural/html.gif);
}

.c2d_widget {
	float: left;
	width: 300px;
	height: 250px;
	background: #fff;
	font-family: 'Roboto Slab', serif;
}
.c2d_widget img {
	float: left;
	display: block;
	padding: 5px;
}
.c2d_widget h2#where_to {
	float: left;
	font-weight: bold;
	font-size: 16px;
	padding: 32px 0 33px 2px;
	line-height: 12px;
	color: #000;
}
.ft {
	float: left;
	padding: 5px 10px 0;
}
.c2d_widget_2 .ft,
.c2d_widget_3 .ft,
.c2d_widget_4 .ft,
.c2d_widget_5 .ft {
	padding-top: 3px;
}
.c2d_widget_6 .ft,
.c2d_widget_7 .ft,
.c2d_widget_8 .ft,
.c2d_widget_9 .ft {
	padding-top: 8px;
}
.fr-wrp {
	float: left;
	padding-bottom: 10px;
}
.ft label, .ft input {
	float: left;
	display: block;
	margin: 0;
	border: 1px solid #a5acb2;
	border-right: 0;
	padding: 6px 3px 5px 8px;
	width: 29px;
	height: 11px;
	line-height: 11px;
	font-size: 12px;
	font-weight: bold;
	color: #414141;
	background: #fff;
}
.ft input {
	border: 1px solid #a5acb2;
	border-left: 0;
	padding: 6px 3px 5px 3px;
	width: 232px;
	font-weight: normal;
	line-height: 14px;
	color: #939393;
}
.ft input.populated {
	color: #333;
}
.ft input.error {
	color: #f22;
}
.c2d_widget h3#what_car {
	float: left;
	width: 280px;
	padding: 0 10px 8px;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	color: #010101;
}
.c2d_widget_2 h3#what_car,
.c2d_widget_3 h3#what_car,
.c2d_widget_4 h3#what_car,
.c2d_widget_5 h3#what_car {
	padding-bottom: 10px;
	color: #fff;
}
.c2d_widget_6 h3#what_car,
.c2d_widget_7 h3#what_car,
.c2d_widget_8 h3#what_car,
.c2d_widget_9 h3#what_car {
	padding-bottom: 9px;
	color: #fff;
}
.c2d_widget_3 h3#what_car {
	color: #555;
}
#carf {
	float: left;
	padding: 0 12px 8px 11px;
	width: 277px;
}
#carf fieldset {
	float: left;
	padding-right: 4px;
	width: 83px;
}
#carf fieldset#make_fs {
	width: 90px;
}
#carf fieldset#model_fs {
	padding: 0;
	width: 95px;
}
#carf fieldset select {
	float: left;
	padding: 1px 1px 1px 8px;
	width: 83px;
}
#carf fieldset select.error {
	color: #f22;
}
#carf fieldset select#make {
	width: 90px;
}
#carf fieldset select#model {
	width: 95px;
}
.c2d_widget .my_c2d_btn {
	float: left;
	margin-left: 8px;
	padding-top: 0;
	border: 0;
	height: 33px;
	width: 182px;
	overflow: hidden;
	font-size: 1px;
	text-indent: -999px;
	color: #fff;
	background: url(images/structural/my_c2d_1_btn.png) no-repeat 0 0;
}

input#end {
	color: #000;
}

/*widget gettysburg trip planner*/
h2#getty-tp-heading {
	padding: 0 0 4px 0;
	margin: 6px 10px 4px 10px; 
	border-bottom: 1px solid #dfdfdf;
	font-size: 20px;
}
.getty-info {
	font-size: 13px;
	padding: 0 10px 2px 10px;
	color: #666;
}

.c2d_widget .my_c2d_btn_getty,
.powered-by-c2d {
	float: left;
	margin-left: 8px;
	padding-top: 0;
	border: 0;
	height: 33px;
	width: 182px;
	overflow: hidden;
	font-size: 1px;
	text-indent: -999px;
	color: #fff;
	background: url(images/structural/plan-my-trip.png) no-repeat 0 0;
}
.powered-by-c2d {
	margin: 0;
	width: 98px;
	background: url(images/structural/powered-by-c2d.png) no-repeat 0 0;
}